* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-image: url("/src/components/images/background_img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
