* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("/src/components/images/background_img.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.electronova {
	flex: 1;
	display: flex;
	flex-direction: column;
}
